/* Importamos tipografías globales del proyecto */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700;800&display=swap');

/* Importamos los estilos por secciones */
@import url('auth.css');
@import url('home.css');
@import url('components.css');

/* Reset global básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos base del proyecto */
body {
    font-family: 'Inter', sans-serif;
    color: #4b4b4b;
}
html {
    scroll-behavior: smooth;
}